exportPattern("^[[:alpha:]]+")

import("stats")
importFrom("car", "leveneTest")
import("lazyeval")

S3method(print, table1)
S3method(print, tp)
S3method(print, frames)
S3method(summary, tp)
S3method(summary, frames)